<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CREATE DIRECTOR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form th:method="POST" th:action="@{/directors}" th:object="${director}">
        <h1>Create new director</h1>
        <div>
            <label for="name">Name: </label>
            <input th:field="*{name}" type="text" id="name"/>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">ERROR NAME</div>
        </div>
        <br>
        <div>
            <label for name="department">Department: </label>
            <select name="department">
                <option th:each="department : ${T(org.example.model.enums.Department).values()}"
                        th:value="${department}"
                        th:text="${department}">department
                </option>
            </select>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
            <p>First he needs to be fired....</p>
<!--            <a th:href="@{/directors/{id} (id=${candidateFoDismissal.getId()})">look at him</a>-->
            <!--            <a th:href="@{/directors/{id} (id=${candidateFoDismissal.getId()}, back='new')}">look at him</a>-->
        </div>
        <div><input type="submit" value="add employees"></div>
    </form>

</div>
</body>
</html>